.products {
  width: 82vw;
  min-height: 91.5vh;
  max-height: 91.5vh;
  height: 91.5vh;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 5px 10px;
}
table {
  margin: 10px 10px 5px 10px;
}
