<!-- <div class="open">
  <div class="logo">
    <i class="bx bx-menu menu-icon"></i>
    <span class="logo-name">Codepen</span>
  </div>
  <div class="sidebar">
    <div class="logo">
      <i class="bx bx-menu menu-icon"></i>
      <span class="logo-name">Codepen</span>
    </div>

    <div class="sidebar-content">
      <ul class="lists">
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-home-alt icon"></i>
            <span class="link">Dashboard</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-bell icon"></i>
            <span class="link">Notifications</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-message-rounded icon"></i>
            <span class="link">Messages</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-pie-chart-alt-2 icon"></i>
            <span class="link">Analytics</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-heart icon"></i>
            <span class="link">Likes</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-folder-open icon"></i>
            <span class="link">Files</span>
          </a>
        </li>
      </ul>

      <div class="bottom-cotent">
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-cog icon"></i>
            <span class="link">Settings</span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-log-out icon"></i>
            <span class="link">Logout</span>
          </a>
        </li>
      </div>
    </div>
  </div>
</div> -->

<!-- Sidebar Old -->
<div class="vh-100 sidebar-fixed position-fixed">
  <a class="logo-wrapper waves-effect">
    <img
      src="https://mdbootstrap.com/img/logo/mdb-email.png"
      class="img-fluid"
      alt=""
    />
  </a>

  <div class="list-group list-group-flush">
    <a href="products" class="list-group-item active waves-effect">
      <i class="fas fa-chart-pie mr-3"></i>Dashboard
    </a>
    <a
      routerLink="products"
      class="list-group-item list-group-item-action waves-effect"
    >
      <i class="fas fa-user mr-3"></i>Products</a
    >
    <a
      routerLink="addproduct"
      class="list-group-item list-group-item-action waves-effect"
    >
      <i class="fas fa-table mr-3"></i>AddProducts</a
    >
    <a
      routerLink="salesReport"
      class="list-group-item list-group-item-action waves-effect"
    >
      <i class="fas fa-map mr-3"></i>SalesReport</a
    >
    <a href="#" class="list-group-item list-group-item-action waves-effect">
      <i class="fas fa-money-bill-alt mr-3"></i>Orders</a
    >
  </div>
</div>
<!-- Sidebar -->
