<!-- <div class="wrapper d-flex align-items-stretch"> -->
<nav id="sidebar">
  <div class="p-4 pt-5">
    <a
      href="#"
      class="img logo rounded-circle mb-5"
      style="background-image: url(http://frontendfreecode.com/img/user.jpg)"
    ></a>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a
          routerLink="stats"
          routerLinkActive="active"
          aria-expanded="false"
          class="dropdown-toggle"
          >Home</a
        >
      </li>
      <!-- <li>
        <a href="#">About</a>
      </li> -->
      <li>
        <a
          routerLink="products"
          routerLinkActive="active"
          aria-expanded="false"
          class="dropdown-toggle"
          >Products</a
        >
      </li>

      <li>
        <a routerLink="sales" routerLinkActive="active">Sales</a>
      </li>
      <li>
        <a href="#">Profile</a>
      </li>
    </ul>
    <!-- <div class="footer"> -->
    <!-- <p>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved
        </p> -->
    <!-- </div> -->
  </div>
</nav>
<!-- </div> -->
